*{
    padding: 0;
    margin: 0;
}

:root{
    --text-color: #434343;
}

body{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px 20px;
    align-content: space-between;
    align-items: center;
}

.nav .links a{
    text-decoration: none;
    padding: 0px 16px 0px 0px;
    color: var(--text-color);
}

.nav .links a:hover{
    text-decoration: underline;
}

.nav .app img{
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0px 10px;
}
.user{
    display: flex;
    justify-content: center;
}

.user button{
    border: none;
    font-size: 13px;
    font-weight: bold;
    background-color: #4685F0;
    padding: 8px 13px;
    margin: 0px 10px;
}

.user button a{
    text-decoration: none;
    color: white;
}

.thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}